<%= form_for :search, method: :get, url: "locations" do |form| %>
  <%= form.label :value, 'Search by Location' %>
  <%= form.text_field :value, placeholder: @current_location%>
  <%= form.submit 'Search' %>
<% end %>

<div id="map1" style="height: 400px;"></div>

<div id="map" style="height: 360px" data-key="AIzaSyDPLqOSnc8cZl_cydt5eFiUHD0j9esm_gk"> </div>

<ul class="locations">
  <% @locations.each do |location| %>
    <%= render location %>
  <% end %>
</ul>

<% content_for :javascript do %>
  <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPLqOSnc8cZl_cydt5eFiUHD0j9esm_gk"></script>

  <%= javascript_tag do %>
    $(function() {

      var mapper = new ExampleApp.Mapper('#map1');
 
      $('[data-latitude]').each(function(index, element) {
        mapper.addCoordinates(
          $(element).attr('data-latitude'),
          $(element).attr('data-longitude')
        );
      });
      mapper.render();
    });

    $(function() {
      if ($('#search_value').attr('placeholder')==null) {
        var currentLocation = new ExampleApp.CurrentLocation();
        currentLocation.getLocation(function(location) {
        $('#search_value').attr('placeholder', location);
      })
      }
    });
  <% end %>
<% end %>
